
.section-m1{
    margin: 20px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    color: black;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transform: 0.3s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transform: 0.3s;
}
html{
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    width: 100%;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 88%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30px;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    font-size: 50px;
    margin: 0;
    padding-left: 20px;
    color: #088178;
    padding-top: 10px;
}

#hero {
    background-image: url(images/5.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero h4 {
    padding-bottom: 10px;
    font-size: 2rem;
}

#hero h1 {
    color: #088178;
    font-size: 3rem;
}

#hero p {
    font-size: 25px;
}

#hero .button {
    padding: 10px 20px;
    background: black;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 20px;
    width: 160px;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: none; /* Moved text-decoration here */
    color: white; /* Moved color here */
    transition: .3s ease;
    text-decoration: none;
  }
  #hero .button a{
    text-decoration: none;
    color: white;
    transition: .3s ease;}
  
  #hero .button:hover { /* Removed the space before :hover */
    background-color: #088178;
  }
  

.form {
    background-image: url(images/pro2.jpg);
    width: 250px;
    height: 490px;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 50%);
    margin-left: 450px;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
    align-items: center;
    margin-top: 20px;
}
.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    font-size: 22px;
    background-color: #088178;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form .sign a{
    text-decoration: none;
    color: white;
}
  
.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #088178;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus {
    outline: none;
}
::placeholder {
    color: #fff;
    font-family: arial;
}
.btn {
    width: 240px;
    height: 40px;
    background: #088178;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btn:hover {
    background: #fff;
    color: #088178;
}
.btn a {
    text-decoration: none;
    color: #1e2b36;
    font-weight: bold;
}
.form .link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    padding: 10px;
}
    .form .link p{
color: #fff;
    }



.form .link a {
    text-decoration: none;
    color: #088178;
}
.form h4 {
    padding-top: 13px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}
.icon a {
    text-decoration: none;
    color: #fff;
}
.icon i {
    color: #465b52;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.4s ease;
}
.icon i:hover{
    color: #088178;
}

#product1 {
    text-align: center;
}

#product1 h2 {
    font-size: 3rem;
}

#product1 p {
    font-size: 20px;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 25%;
    min-width: 350px;
    padding: 10px 12px;
    border: 1px solid #088178;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 10px;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 10px;
    height: auto; /* Set height to auto to maintain aspect ratio */
}

#product1 .pro .des {
    text-align: start;
    padding: 2px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 17px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 20px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 4px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
   
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/bn.png);
    color: azure;
    margin-top: 30px;
    width: 100%;
    height: 37vh;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}
#banner h4{
    color: #fff; 
    font-size: 16px;
}
#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: red;
    
} 
#banner button:hover{
    background: #088178;
    color: #fff;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    background-image: url(images/70.jpg);
    color: rgb(17, 247, 29);
    margin-top: 30px;
    min-width: 580px;
    height: 50vh;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    padding: 10px;
}
#sm-banner .banner-box2{
  background-image: url(images/box1.jpg);  
}
#sm-banner{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.banner-box h2{
    font-size: 3rem;
    font-weight: 800;
}
.banner-box span{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    padding: 15px;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}
#banner3{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;   

}
#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    background-image: url(images/ban.jpg);
    color: rgb(17, 247, 29);
    margin-top: 30px;
    min-width: 30%;
    height: 30vh;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 30px;
}
#banner3 .banner-box2{
    background-image: url(images/ban7.jpg);
}
#banner3 .banner-box3{
    background-image: url(images/ban8.jpg);
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: red;
    font-weight: 800;
    font-size: 15px;
}
#newsletter {
    display: flex;
justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/blu.jpg);
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-color: #000;
    padding: 20px; /* Add padding to adjust the content spacing */
}

#newsletter h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    padding-left: 35px;
}

#newsletter p {
    color: #818ea0;
    font-size: 14px;
    font-weight: 600;
    padding-left: 35px;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form2 { 
    display: flex;
    width: 80%;
 padding-bottom: 30px;

   
}
#newsletter input{

    height: 1.235rem; /* Correct the height value */
    padding: 7px; 
   
    width: 300px; 
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;   
}
#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

  
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 10px;

}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #222 ;
}
footer .follow{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;

}
footer .install img{
  margin: 10px 0 15px 0;  
}
footer .follow i:hover,
footer a:hover{
    color: #088178;

}
footer .copyright{
    text-align: center;
    width: 100%;
}
#page-header{
    background-image: url(images/bc.jpg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 14px;

}
#page-header h2,
#page-header p{
    color: #fff;
}
#pagination{
  text-align: center;
  padding: 40px;

}
#pagination a{
   text-decoration: none;
   background-color: #088178;
   padding: 15px 20px;
   border-radius: 4px;
   color: #fff;
   font-weight: 600; 
}
#pagination{
    font-size: 16px;
    font-weight: 600;
}
#prodetails{
    display: flex;
    margin-top: 40px;
}
#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px; 
}
.small-img-group{
    display: flex;
    justify-content: space-between;

}
.small-img-col{
    flex-basis: 30%;
    cursor: pointer;
    padding: 20px;
    
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
   padding: 40px 0 20px 0;

}
#prodetails .single-pro-details h2{
    font-size: 26px;
 
 }
 #prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
 
 }
 #prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 18px;
    margin-right: 10px;
 
 }
 #prodetails .single-pro-details button{
    background-color: #088178;
    color: #fff;
 
 }
 #prodetails .single-pro-details input:focus{
    outline: none;
 
 }
 #prodetails .single-pro-details span{
   line-height: 25px; 
 
 }
 #page-header.blog-header{
background-image: url(ob.jpg);
 }
 #blog{
    padding: 150px 150px 0 150px;
 }
 #blog .blog-box{
   display: flex;
   align-items: center;
   width: 100%; 
   position: relative;
   padding-bottom: 90px;
 }
 #blog .blog-img{
    width: 50%;
    margin-right: 40px;
 }
 #blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 80px;
 }
 #blog .blog-details{
    width: 50%;
 }
 #blog .blog-details a{
   text-decoration: none;
   font-size: 11px;
   color: black;
   font-weight: 700; 
   position: relative;
   transition: 0.3s;}

 #blog .blog-details a::after{
 content: "";
   width: 50px;
   height: 1px;
   background-color: black;
   position: absolute;
   top: 4px;
   right: -60px; 
 }
 #blog .blog-details a:hover{
    color: #088178;
 }
 #blog .blog-details a:hover::after{
background-color: #088178;
 }
 #blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
    
 }
#page-header.about-header {
  background-image: url(images/ct.jpg);  
}
#about-head img{
    width: 50%;
    height: 60%;
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head div{
    padding-left: 40px;
}
#about-app{
   text-align: center; 
}
#about-head .video{
width: 100%;
max-width: 800px;
height: auto;
margin: 30px auto 0 auto;
}
#about-head .video video{
width: 60%;
height: 60%;
border-radius: 20px;
}
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span
#form-details form span{
    font-size: 12px;
}
#contact-details .details h2
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    padding-bottom: 16px;
    font-size: 16px;
}
#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
    margin-right: 20px;
}
#contact-details .details li i{
 font-size: 14px;
 padding-right: 26px;   
 
}
#contact-details .details li p{
margin: 0;
font-size: 14px;
padding-right: 29px;
}
#contact-details .map{
    width: 800px;
    height: 400px;
    padding: 30px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,
#form-details form textarea{
 width: 80%;
 padding: 12px 15px; 
 outline: none;
 margin-bottom: 20px;
 border: 1px solid #e1e1e1;  
}
#form-details form button{
    background-color: #088178;
    color: #fff;
    margin-bottom: 20px;
}
#form-details .people div{
   padding-bottom: 25px;
display: flex;
align-items: flex-start;
padding: 30px;
}
#form-details .people div img{
width: 65px;
height: 65px;
object-fit: cover;
margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
/* Apply horizontal scrolling for the cart if its content overflows */
#cart {
    overflow-x: auto;
}

/* Style the cart table */
#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

/* Style the images within the cart table */
#cart table img {
    width: 70px;
    height: 70px;
}

/* Define specific styles for the first column of the table */
#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

/* Define specific styles for the second column of the table */
#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

/* Define specific styles for the third column of the table */
#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

/* Define specific styles for the fourth, fifth, and sixth columns of the table */
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

/* Style the input within the fifth column of the table */
#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

/* Style the table header (thead) */
#cart table thead {
    border: 1px solid #e3e9e1;
    border-left: none;
    border-right: none;
    padding-top: 30px;
}

/* Style the table header cells (td) */
#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

/* Apply padding to the table body cells */
#cart table tbody tr td {
    padding-top: 15px;
}

/* Style the font within the table */
#cart table tbody td {
    font-size: 13px;
}

/* Style the cart-add section */
#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style the coupon section */
#coupon {
    width: 50%;
    margin-bottom: 30px;
}

/* Style heading elements within the coupon and subtotal sections */
#coupon h3,
#subtotal h3 {
    padding-bottom: 10px;
}

/* Style the input within the coupon section */
#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

/* Style buttons in the coupon and subtotal sections */
#coupon button,
#subtotal button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

/* Style the subtotal section */
#subtotal {
    width: 600px;
    margin-bottom: 30px;
}

/* Style the subtotal table */
#subtotal table {
    border-collapse: collapse;
    width: 65%;
    margin-bottom: 20px;
    padding: 20px;
}

/* Style cells within the subtotal table */
#subtotal table td {
    border: 1px solid #e2e9e1;
    width: 60%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 17px;
}





@media screen and (max-width: 477px) {

    body {
        
        background-size: contain; 
        background-position: top center; 
        width: 250px;
        background-image: url(images/42.);
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #E3E6F3;
        position: fixed;
        right: -300px;
        top: 0;
        width: 300px;
        height: 100vh;
        padding: 80px 0 0 10px;
        text-align: center;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.06);
        transition: 0.3s;
    }
#navbar .active{
  right: 0px;  
}
    #navbar li {
    margin-bottom: 25px;

    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
#close{
    position: absolute;
    display: initial;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
}
   #lg-bag{
    display: none;
   }
   #hero {
   
    height: 70vh;
    background-position: top 30% right 30%;
    padding: 0 80px;
    
}
#product .pro-container{
    justify-content: center;
}
#product1 .pro {
   margin: 15px;
}
#banner{
    height: 20vh;
}
#sm-banner .banner-box{
    min-width: 100%;
    height: 30vh;
}
#banner3{
   padding: 0 40px; 
}
#banner3 .banner-box{
    width: 28%;
}
#newsletter .form{
    width: 70px;
}
#prodetails{
    display: flex;
    flex-direction: column;
}
#prodetails .single-pro-image{
    width: 100%;
    margin-right: 0px;
}
#prodetails .single-pro-details{
    width: 100%;
    padding-top: 30px;
}
#blog{
    padding: 100px 20px 0 20px;
}
#blog .blog-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#blog .blog-img{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 13px;
}
#blog .blog-details{
    width: 100%;
}
#about-head{
    flex-direction: column;
}
#about-head img{
    width: 100%;
    margin-bottom: 20px;
}
#about-head div{
    padding-left: 0px;
}
#about-app .video{
    width: 100%;
}
#contact-details{
    flex-direction: column;
}
#contact-details .details{
   width: 100%;
   margin-bottom: 30px; 
}
#contact-details map{
    width: 100%;
}
#form-details {
     margin: 10px;
     padding: 30px 10px;
     flex-wrap: wrap;
}
#form-details form{
    width: 100%;
    margin-bottom: 30px;
}
#cart-add{
    flex-direction: column;
}
#coupon{
    width: 100%;
}
#subtotal{
    width: 100%;
    padding: 20px;
}
}
